ul#projects{
	padding: 0;
  margin-top: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  width: 100%;
}

li.project{
	-webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  flex: 0 1 auto;
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

.project img{
	width:inherit;
    border-radius:5%;
}

.project h2{
	text-align:center;
}

