/* Side by side divs describing research */
#researchInterests,#clebsch{
display: inline-block;
}
#researchInterests{
width:70%;
}
#clebsch{
width:20%;
}




/* Gets rid of dotted box around links after they're clicked */
a, a:active, a:focus{
    outline: none;
}

.paper-buttons a:hover{
    color:transparent!important;
}

#paper .paper-buttons button:hover,#paper .paper-buttons button:active, #paper .paper-buttons button:focus{
    background-color:transparent;
    color:black;
    border:none!important;
}

table.papers-and-preprints{
    line-height: 1.5;
    margin-bottom:0;
}

table.papers-and-preprints tr, table.papers-and-preprints tr td {
height: inherit;}


/* Icon sizes*/

img.arxiv{
    width: 10px;
    margin-right:6px;
}

.paper-buttons .fa-solid{
    font-size: 14px;
    width:20px;
    color:black;
}


td#papernumber{
    width:20px;
}
td.paper-buttons{
    width: 120px;
}


td.paper-buttons button{
    background:none;
    border:none!important;
    color:black;
}

td.paper-buttons button:active{
    box-shadow:none;
}


.paperinfo{
}

#doc{
    width: 10px;
}

/* tr#abstractrow{ */
/* height:0px;} */

/* td.show,td.collapsing{ */
/* display:table-cell!important; */
/* } */
/* tr.show,tr.collapsing{ */
/* display:table-row!important; */
/* } */


tr.hideabstract{
    display:none;
}

tr.showabstract{
    display:table-row;
    background:#f7f5e7;
}



h3#research{
    margin:0;
}
